<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>GPL.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%thread] %level %logger{10} %line %msg%n %ex{2} </pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>